table {
    border: 4px solid black;
    border-spacing: 3px;
    font-size: 1em;
    width: 50%;
    border-collapse: collapse;
}

tr {
    border: 2px solid black;
    text-align: center;
    cursor: grab;
}

td {
    padding: 0;
    margin: 0;
    border: 2px solid black;
}

.active {
    background-color: #28852b;
    color: white;
}

.over {
    background-color: #19229e;
    color: white;
}