<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="" />
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./static/styles/dashboard.css">
        <title>TT</title>
    </head>
    <!DOCTYPE html>
    <body>
        <h1>Bienvenido {{ name_u }} {{ lastname_u }}</h1>
        <form class="dashboard-form">
            <br>
            <h1>Dashboard</h1>
            <br>
            <br><a href="/logout">Salir</a>
            <br>
            <br><a href="/">Editar cuenta</a>
            <br>
            <br><a id ="DeleteUser" href="{{ url_for('users.delete')}}">eliminar cuenta</a>
            
        </form>
        
        <!--<script src="../static/dashboard.js"></script>-->
    </body>
</html>
