<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<link rel="icon" href="" />
	<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round"
		rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/styles/home.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/login.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/other.css">
	<link rel="icon" type="image/x-icon" href="../static/imgs/favicon.png">
	<!-- Script needed to execute Go with webassambly (wasm) -->
	<script src="../static/wasm/wasm_exec.js"></script>
	<!-- Script that contains wasm code to execute -->
	<!--<script src="../wasm/some_code.js"></script>-->
	<title>TT</title>
</head>
<!DOCTYPE html>