{% include './header.html' %}

<body>
	{% include './navbar.html' %}
	<div class="container" id="cellular-automaton" style="background-color: white;">
		<form id="ca-configForm">
			<label for="ca-width">Ancho</label>
			<input id="ca-width" name="ca-width" type="number" min="3" step="1" value="10">
			<label for="ca-height">Alto</label>
			<input id="ca-height" name="ca-height" type="number" min="3" step="1" value="10">
			<label for="ca-numStates">Numero de estados</label>
			<input id="ca-numStates" name="ca-numStates" type="number" min="2" max="256" step="1" value="2">
			<input type="submit" value="Cargar">
		</form>
		<table id="ca-statesColors">
		</table>
		<form id="ca-rulesForm">
			<label for="ca-condition">Condicion</label>
			<input id="ca-condition" name="ca-condition" type="text" value="" placeholder="Regla">
			<label for="ca-state">Resultado</label>
			<input id="ca-state" name="ca-state" type="number" min="0" max="255" step="1" value="0">
			<input type="submit" value="Agregar regla">
		</form>
		<ul id="ca-rulesList">
		</ul>
		<button id="btnStep">Siguiente</button>
		<div id="grid">
			
		</div>
	</div>
	
</body>

{% include './footer.html' %}