<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="" />
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./static/styles/login.css">
        <title>TT</title>
    </head>
    <!DOCTYPE html>
    <body>
      <h1>Bienvenido</h1> 
      <a href="/login">Ir al login</a>
      <br><br><br>
      <a href="/signup">Ir al signup</a>       
    </body>
</html>
