{% include './header.html' %}
<body>
	{% include './navbar.html' %}
    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close-outline"></ion-icon>
        </span>
        <div class="formBox login">
            <h2>Login</h2>
            <form method="POST">
                <span class="error">{{ error }}</span>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="text" id="email" name="email" required>
                    <label for="email">Correo</label>
                </div>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label for="password">Contraseña</label>
                </div>
        
                <div class="rememberForgot">
                    <label><input type="checkbox">Recuerdame</label>
                    <a href="#">¿Olvidaste la contraseña?</a>
                </div>
                <div class="divBtn">
                    <button type="submit" class="btn">
                        <h4>Login</h4>
                    </button>
                </div>
        
                <div class="loginRegister">
                    <p>¿No tienes cuenta?<a href="/signup" class="SignupLink">Registrate</a></p>
                </div>
            </form>
        </div>
    </div>    
</body>

{% include './footer.html' %}