<nav>
    <h2 class="logo">Logo</h2>
    <div class="navigation">
        <ul class="nav-ul">
            <li class="nav-li"><a class="link" href="/">Home</a></li>
            <li class="nav-li"><a class="link" href="/proyect">Sobre el proyecto</a></li>
            <li class="nav-li"><a class="link" href="/aboutus">Nosotros</a></li>    
            <li class="nav-li"><a href="/login"><button id="btnLogin-popup" class="btnLogin-popup">Inicia Sesion</button></a></li>   
        </ul>
    </div>
    <button class="btnToggle"><div class="toggle"> ||| </div> </button>
</nav>