<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block titulo %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/other.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mensajes.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/proyect.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='imgs/favicon.png') }}">
    {% block headEspecial %}{% endblock %}
</head>

<body>
    <nav>
        <div class="typewriter">
            <h1 id="typed-text">{{titulo}}</h1>
        </div>
        <div class="navigation">
            <ul id="navOpciones" class="nav-ul">
                <li class="nav-li"><a class="link" href="{{ url_for('inicio.pagina_inicio') }}">Inicio</a></li>
                <li class="nav-li"><a class="link"
                        href="{{ url_for('sobre_el_proyecto.pagina_sobre_el_proyecto') }}">Sobre el proyecto</a></li>
                <li class="nav-li"><a class="link"
                        href="{{ url_for('sobre_el_equipo.pagina_sobre_el_equipo') }}">Nosotros</a></li>
                {% if usuario %}
                <li class="nav-li"><a class="link"
                        href="{{ url_for('simulaciones.pagina_simulaciones') }}">Simulaciones</a></li>
                <li class="nav-li"><a href="{{ url_for('usuarios.pagina_datos_usuario') }}"><button id="btnLogin-popup"
                            class="btnLogin-popup">Mi cuenta</button></a></li>
                {% else %}
                <li class="nav-li"><a href="{{ url_for('sesion.pagina_inicio_de_sesion') }}"><button id="btnLogin-popup"
                            class="btnLogin-popup">Inicia Sesion</button></a></li>
                {% endif %}
            </ul>
        </div>
        <button id="btnHamburguesa" class="btnToggle">
            <div class="toggle"> ||| </div>
        </button>
    </nav>

    <div id="mensajes">
        {% with mensajes = get_flashed_messages(with_categories=true) %}
        {% if mensajes %}
        {% for categoria, mensaje in mensajes %}
        {% if categoria == "exito" %}
        <div class="alerta exito">
            {% elif categoria == "advertencia" %}
            <div class="alerta advertencia">
                {% elif categoria == "error" %}
                <div class="alerta error">
                    {% else %}
                    <div class="alerta info">
                        {% endif %}
                        {{ mensaje }}
                        <button class="cerrar-mensaje">Cerrar</button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>

                {% block contenido %}
                {% endblock %}

                <footer>
                    <div>
                        <p>
                            INSTITUTO POLITÉCNICO NACIONAL<br>
                            D.R. Instituto Politécnico Nacional (IPN). Av. Luis Enrique Erro S/N, Unidad Profesional
                            Adolfo López Mateos, Zacatenco, Delegación Gustavo A. Madero, C.P. 07738, Ciudad de México
                            2009-2013.<br><br>
                            Esta página es una obra intelectual protegida por la Ley Federal del Derecho de Autor, puede
                            ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente
                            completa y su dirección electrónica; su uso para otros fines, requiere autorización previa y
                            por escrito de la Dirección General del Instituto.
                        </p>
                    </div>
                </footer>

                <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
                <script src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>
                <script src="{{ url_for('static', filename='scripts/mensajes.js') }}"></script>
                {% block scriptEspecial %}{% endblock %}
</body>

</html>