{% extends 'base.html' %}

{% block titulo %}Automatas celulares{% endblock %}

{% block headEspecial %}
<script src="{{ url_for('static', filename='wasm/wasm_exec.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/inicio.css') }}"></>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cellular.css') }}"></>
{% endblock %}

{% block contenido %}
<div class="inicioContenedor">
    <div>
        <form id="formConfiguracion">
            <div class="inputForm">
                <label for="anchura">Ancho</label>
                <input id="anchura" name="anchura" type="number" min="3" step="1" value="10" autocomplete="off">
            </div>
            <div class="inputForm">
                <label for="altura">Alto</label>
                <input id="altura" name="altura" type="number" min="3" step="1" value="10" autocomplete="off">
            </div>
            <div class="inputForm">
                <label for="numEstados">Estados</label>
                <input id="numEstados" name="numEstados" type="number" min="2" max="256" step="1" value="2" autocomplete="off">
            </div>
            <div class="inputForm">
                <button type="submit" class="botonCarga">Cargar</button>
            </div>
        </form>
    </div>
    <div>
        <h4>Selecciona colores</h4>
    </div>
    <div class="divTabEstados">
        <table id="tabColorEstados">
        </table>
    </div>
    <div>
        <form id="formReglas">
            <div class="inputForm">
                <label for="condicion">Condicion</label>
                <input id="condicion" name="condicion" type="text" value="" placeholder="Regla" autocomplete="off">
            </div>
            <div class="inputForm">
                <label for="estado">Resultado</label>
                <input id="estado" name="estado" type="number" min="0" max="255" step="1" value="0" autocomplete="off">
            </div>
            <div>
                <button type="submit" class="botonCarga">Agregar regla</button>
            </div>
        </form>
    </div>
    <div class="divTabEstados divListaReglas">
        <table id="listaReglas">
        </table>
    </div>
    <div id="formControl">
        <div class="inputForm">
            <button id="botonPausa" class="botonImagen" type="button" title="Inicia/Pausa">
                <img id="imgPausa" src="{{ url_for('static', filename='imgs/boton-de-play.png') }}" alt="boton-de-pausa.png"></img>
            </button>
        </div>
        {% if usuario %}
        <div class="inputForm">
            <button id="botonGuardarHistorial" class="botonImagen" type="button" title="Guardar">
                <img src="{{ url_for('static', filename='imgs/subir.png') }}" alt="subir.png"></img>
            </button>
        </div>
        {% else %} <div></div> {% endif %}
        {% if usuario %}
        <div class="inputForm">
            <button id="botonProcesarAutomata" class="botonImagen" type="button" title="Procesar">
                <img src="{{ url_for('static', filename='imgs/administracion.png') }}" alt="administracion.png"></img>
            </button>
        </div>
        {% else %} <div></div> {% endif %}
        <div class="inputForm">
            <label for="rangoVelocidad">Velocidad</label>
            <input id="rangoVelocidad" name="rangoVelocidad" type="range" min="0" max="1000" step="100" value="1000" autocomplete="off">
        </div>
    </div>
    <div>
        <h4 id="labelRangoHistorialAutomata">Generación 0 de 0</h4>
        <br>
        <div class="inputForm">
            <input id="rangoHistorialAutomata" name="rangoHistorialAutomata" class="historial" type="range" min="0" max="0" step="1" value="0" autocomplete="off">
        </div>
    </div>
    <div class="divGrid">
        <canvas id="canvasGrid"></canvas>
    </div> 
    <div>
        <canvas id="canvasGrafica1"></canvas>
    </div>
</div>
{% endblock %}

{% block scriptEspecial %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js"></script>
<script src="{{ url_for('static', filename='wasm/automata.js') }}" ></script>
{% endblock %}
