{% extends 'base.html' %}

{% block titulo %}Autómatas celulares{% endblock %}

{% block headEspecial %}
<script src="{{ url_for('static', filename='wasm/wasm_exec.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/inicio.css') }}">
</>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cellular.css') }}">
</>
{% endblock %}

{% block contenido %}
<div class="procesar">
    <div class="wrapper">
        <div class="formBox">
            <div id="cierraProcesar" class="cierraProcesar"><ion-icon name="close-circle-outline"></ion-icon></div>
            <h2>Mandar a procesar</h2>
            <br>
            <label>
                Manda a procesar tu autómata en nuestros sistemas en la nube. El autómata debe tener
                un tamaño menor a 500x500 y un máximo de 500 generaciones.
            </label>
            <br>
            <form id="form-procesar">
                <div class="inputBox">
                    <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                    <input type="text" id="nombre_simulacion" name="nombre_simulacion" maxlength="255" required>
                    <label for="correo">Nombre de la simulación a procesar</label>
                </div>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                    <input type="text" id="desc_simulacion" name="desc_simulacion" maxlength="2048">
                    <label for="correo">Descripción de la simulación</label>
                </div>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="keypad-outline"></ion-icon></span>
                    <input type="number" id="num_simulacion" name="num_simulacion" min="1" max="500" step="1" value="1"
                        required>
                    <label for="correo">Numero de generaciones</label>
                </div>
                <div class="divBotonGif">
                    <button type="submit" class="botonGif">
                        <h4>Procesar</h4>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="guardar">
    <div class="wrapper">
        <div class="formBox">
            <div id="cierraGuardar" class="cierraProcesar"><ion-icon name="close-circle-outline"></ion-icon></div>
            <h2>Mandar a guardar</h2>
            <br>
            <label>
                Manda a guardar tu autómata en nuestros sistemas en la nube. El autómata debe tener
                un tamaño menor a 500x500 y un máximo de 500 generaciones.
            </label>
            <br>
            <form id="form-guardar">
                <div class="inputBox">
                    <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                    <input type="text" id="nombre_historial" name="nombre_historial" maxlength="255" required>
                    <label for="correo">Nombre de la simulación a procesar</label>
                </div>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                    <input type="text" id="desc_historial" name="desc_historial" maxlength="2048">
                    <label for="correo">Descripción de la simulación</label>
                </div>
                <div class="divBotonGif">
                    <button type="submit" class="botonGif">
                        <h4>Guardar</h4>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="inicioContenedor">
    <div>
        <form id="formConfiguracion">
            <div class="inputForm">
                <label for="anchura">Ancho</label>
                <input id="anchura" name="anchura" type="number" min="3" step="1" value="10" autocomplete="off">
            </div>
            <div class="inputForm">
                <label for="altura">Alto</label>
                <input id="altura" name="altura" type="number" min="3" step="1" value="10" autocomplete="off">
            </div>
            <div class="inputForm">
                <label for="numEstados">Estados</label>
                <input id="numEstados" name="numEstados" type="number" min="2" max="256" step="1" value="2"
                    autocomplete="off">
            </div>
            <div class="inputForm">
                <button type="submit" class="botonCarga">Cargar</button>
            </div>
        </form>
    </div>
    <div>
        <h4>Selecciona colores</h4>
    </div>
    <div class="divTabEstados">
        <table id="tabColorEstados">
        </table>
    </div>
    <div>
        <form id="formReglas">
            <div class="inputForm">
                <label for="condicion">Condición</label>
                <input id="condicion" name="condicion" type="text" value="" placeholder="Regla" autocomplete="off">
            </div>
            <div class="inputForm">
                <label for="estado">Resultado</label>
                <input id="estado" name="estado" type="number" min="0" max="255" step="1" value="0" autocomplete="off">
            </div>
            <div>
                <button type="submit" class="botonCarga">Agregar regla</button>
            </div>
        </form>
    </div>
    <div class="inputForm">
        <div class="infoTip">
            <p>Para colocar una regla, se usa como guía la siguiente imagen,
                que representa un vecindario de Moore:</p>
            <img src="{{ url_for('static', filename='imgs/moore.png') }}">
            <p>
                Las reglas son de la forma: <i>n<sub>xy</sub> = a && (s<sub>b</sub> = m || ... )</i>, donde:<br>
            <ul>
                <li><i>n<sub>xy</sub></i> representa la célula que se va a evaluar</li>
                <li><i>a</i> representa el estado en el que se encuentra la célula anterior</li>
                <li><i>s<sub>b</sub></i> representa la células vecinas que se encuentran en estado <i>b</i></li>
                <li><i>m</i> es el número de células vecinas del punto anterior</li>
            </ul>
            </p>
        </div>
        <div class="divListaReglas">
            <table id="listaReglas">
            </table>
        </div>
    </div>
    <div id="formControl">
        <div class="inputForm">
            <button id="botonPausa" class="botonImagen" type="button" title="Inicia/Pausa">
                <img id="imgPausa" src="{{ url_for('static', filename='imgs/boton-de-play.png') }}"
                    alt="boton-de-pausa.png"></img>
            </button>
        </div>
        {% if usuario %}
        <div class="inputForm">
            <button id="botonGuardarHistorial" class="botonImagen" type="button" title="Guardar">
                <img src="{{ url_for('static', filename='imgs/subir.png') }}" alt="subir.png"></img>
            </button>
        </div>
        {% else %} <div></div> {% endif %}
        {% if usuario %}
        <div class="inputForm">
            <button id="botonProcesarAutomata" class="botonImagen" type="button" title="Procesar">
                <img src="{{ url_for('static', filename='imgs/administracion.png') }}" alt="administracion.png"></img>
            </button>
        </div>

        {% else %} <div></div> {% endif %}
        <div class="inputForm">
            <label for="rangoVelocidad">Velocidad</label>
            <input id="rangoVelocidad" name="rangoVelocidad" type="range" min="0" max="1000" step="100" value="1000"
                autocomplete="off">
        </div>
    </div>
    <div>
        <h4 id="labelRangoHistorialAutomata">Generación 0 de 0</h4>
        <br>
        <div class="inputForm">
            <input id="rangoHistorialAutomata" name="rangoHistorialAutomata" class="historial" type="range" min="0"
                max="0" step="1" value="0" autocomplete="off">
        </div>
    </div>
    <div class="divGrid">
        <canvas id="canvasGrid"></canvas>
    </div>
    <div class="inputForm">
        <button id="botonGraficas" class="botonCarga">Cargar gráficas</button>
        <label for="rangoMedia" style="padding-left: 20px;">Generaciones para la media y varianza</label>
        <input id="inputRangoMedia" name="rangoMedia" type="number" min="1" step="1" value="10" autocomplete="off" style="width: 100px;">
    </div>
    <div id="divGrafica1" class="divGraficas" style="display: none;">
        <h3>Gráfica de densidad de población</h3>
        <canvas id="canvasGrafica1"></canvas>
    </div>
    <div id="divGrafica2" class="divGraficas" style="display: none;">
        <h3>Gráfica de densidad media (en 10 generaciones)</h3>
        <canvas id="canvasGrafica2"></canvas>
    </div>
    <div id="divGrafica3" class="divGraficas" style="display: none;">
        <h3>Gráfica de varianza (en 10 generaciones)</h3>
        <canvas id="canvasGrafica3"></canvas>
    </div>
</div>
{% endblock %}

{% block scriptEspecial %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"
    integrity="sha512-g2TeAWw5GPnX7z0Kn8nFbYfeHcvAu/tx6d6mrLe/90mkCxO+RcptyYpksUz35EO337F83bZwcmUyHiHamspkfg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='wasm/automata.js') }}"></script>
{% endblock %}