{% extends 'base.html' %}

{% block titulo %}Iniciar Sesion{% endblock %}

{% block contenido %}
<div class="login">
    <div class="wrapper">
        <div class="formBox login">
            <h2>Inicia sesión</h2>
            <form id="form-inicio-sesion" action="{{ url_for('sesion.genera_sesion') }}" method="POST">
                <div class="inputBox">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" id="correo" name="correo" required>
                    <label for="correo">Correo</label>
                </div>
                <div class="inputBox">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="password" name="contrasena" required>
                    <label for="contrasena">Contraseña</label>
                </div>
        
                <div class="rememberForgot">
                    <label><input type="checkbox">Recuerdame</label>
                    <a href="#">¿Olvidaste la contraseña?</a>
                </div>
                <div class="divBtn">
                    <button type="submit" class="boton">
                        <h4>Inica sesión</h4>
                    </button>
                </div>
                <div class="loginRegister">
                    <p>¿No tienes cuenta? <a href="{{ url_for('registro_usuario.pagina_registro_usuario') }}" class="SignupLink">Regístrate</a></p>
                </div>
            </form>
        </div>
    </div>    
</div>
{% endblock %}

{% block scriptEspecial %}
<script src="{{ url_for('static', filename='scripts/incio_sesion.js') }}"></script>
{% endblock %}
