{% extends 'base.html' %}

{% block titulo %}Simulacion{% endblock %}

{% block headEspecial %}
<script src="{{ url_for('static', filename='wasm/wasm_exec.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/inicio.css') }}"></>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cellular.css') }}"></>
{% endblock %}

{% block contenido %}
<div class="inicioContenedor">
    <div>
        <h3>{{ simulacion.nombre }}</h3>
    </div>
    <div>
        <p>{{ simulacion.descripcion }}</p>
    </div>
    <div>
        <form id="formConfiguracion">
            <div class="inputForm">
                <label for="anchura">Ancho</label>
                <input id="anchura" name="anchura" type="number" min="3" step="1" value="{{ simulacion.anchura }}" autocomplete="off" readonly>
            </div>
            <div class="inputForm">
                <label for="altura">Alto</label>
                <input id="altura" name="altura" type="number" min="3" step="1" value="{{ simulacion.altura }}" autocomplete="off" readonly>
            </div>
            <div class="inputForm">
                <label for="numEstados">Estados</label>
                <input id="numEstados" name="numEstados" type="number" min="2" max="256" step="1" value="{{ simulacion.estados }}" autocomplete="off" readonly>
            </div>
        </form>
    </div>
    <div>
        <h4>Selecciona colores</h4>
    </div>
    <div class="divTabEstados">
        <table id="tabColorEstados">
        </table>
    </div>
    <div class="divTabEstados divListaReglas">
        <table id="listaReglas">
            <tr>
                <th>Condicion</th>
                <th>Estado</th>
            </tr>
            {% for regla in simulacion.reglas %}
            <tr>
                <td>{{ regla['condition'] }}</td>
                <td>{{ regla['state'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h4 id="labelRangoHistorialAutomata">Generación 0 de 0</h4>
        <br>
        <div class="inputForm">
            <input id="rangoHistorialAutomata" name="rangoHistorialAutomata" class="historial" type="range" min="0" max="0" step="1" value="0" autocomplete="off">
        </div>
    </div>
    <div class="divGrid">
        <canvas id="canvasGrid" width="{{ simulacion.anchura * 20 }}" height="{{ simulacion.altura * 20 }}"></canvas>
    </div>
    
</div>
{% endblock %}

{% block scriptEspecial %}
<script src="{{ url_for('static', filename='wasm/simulacion.js') }}"></script>
{% endblock %}
