{% extends 'base.html' %}

{% block titulo %}Sobre el proyecto{% endblock %}

{% block contenido %}
<div class="contenedor">
    <div class="title">
        <h2>Acerca del proyecto</h2>
    </div>
    <div class="about">
        <div class="title">
            <h3>Problemática</h3>
        </div>
        <p class="para2">
            La problemática se centra en la limitación del software 
            disponible para la experimentación con autómatas celulares, 
            ya que las aplicaciones de AC suelen ejecutarse en localmente, 
            lo que restringe su accesibilidad y uso. También es común que se 
            programen aplicaciones específicas para cada autómata.
        </p>
        <br>
        <div class="title">
            <h3>Solución</h3>
        </div>
        <div>
            <a href="https://drive.google.com/file/d/1gP4LwVDyYOx3dLxZQwXjOoUR6riiq7CJ/view?usp=sharing">
                <button>Manual de usuario</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}