{% extends 'base.html' %}

{% block titulo %}Sobre el proyecto{% endblock %}

{% block contenido %}
<div class="AcercaProyecto">
    <div class="columnas">
        <div class="columna columna1">
            <video src="../static/videos/Automata.mp4" autoplay muted loop></video>
        </div>
        <div class="columna columna2">
            <div class="problematicawrapper">
                <h2 class="Problematica">Problematica</h2>
                <p>La problemática se centra en la limitación del software
                    disponible para la experimentación con autómatas celulares,
                    ya que las aplicaciones de AC suelen ejecutarse en localmente,
                    lo que restringe su accesibilidad y uso. También es común que se
                    programen aplicaciones específicas para cada autómata.</p>
            </div>
        </div>
    </div>
    <div class="ManualUsuario">
        <h2>Te dejamos nuestro manual de usuario </h2>
        <span>↓</span>
    </div>
    <div class="divBtn">
        <a href="{{ url_for('static', filename='docs/Manual_de_Usuario.pdf') }}" download>
            <button class="boton">
                <h4>Manual de Usuario</h4>
            </button>
        </a>
    </div>
</div>
{% endblock %}