{% extends 'base.html' %}

{% block titulo %}Sobre el proyecto{% endblock %}

{% block contenido %}
<div class="AcercaProyecto">
    <div class="columnas">
        <div class="columna columna1">
            <video src="../static/videos/Automata.mp4" autoplay muted loop></video>
        </div>
        <div class="columna columna2">
            <div class="problematicawrapper">
                <h2 class="Problematica">Problemática</h2>
                <p>La problemática se centra en la limitación del software
                    disponible para la experimentación con autómatas celulares,
                    ya que las aplicaciones de AC suelen ejecutarse en localmente,
                    lo que restringe su accesibilidad y uso. También es común que se
                    programen aplicaciones específicas para cada autómata.</p>
            </div>
            <div class="problematicawrapper">
                <h2 class="Problematica">Propuesta de Solución</h2>
                <p>Se elaborará un sistema web en la nube que permita desarrollar, 
                    simular y analizar autómatas celulares discretos desde el navegador.<br>
                    La propuesta está dirigida principalmente a estudiantes novicios en
                    los autómatas celulares que requieran una herramienta de fácil acceso
                    y uso para realizar los estudios que necesiten. Además, al ser un
                    sistema alojado en nube, puede escalar fácilmente si se le exige 
                    aumentar o disminuir sus capacidades, aprovechando la escalabilidad
                    que permite el desarrollo en la nube.</p>
            </div>
            <div class="problematicawrapper">
                <h2 class="Problematica">Objetivos</h2>
                <p>Desarrollar una aplicación web que permita simular y analizar autómatas
                    celulares en la nube y en el navegador.<br>
                <ul>
                    <li>Desarrollar un módulo del sistema que simule y analice autómatas 
                        celulares desde el navegador.</li>
                    <li>Desarrollar un módulo del sistema que simule y analice autómatas 
                        celulares desde la nube.</li>
                    <li>Desarrollar un módulo de registro e inicio de sesión.</li>
                    <li>Integrar los módulos del sistema dentro de la nube
                        de Microsoft Azure.</li>
                </ul></p>
            </div>
        </div>
    </div>
    <div class="ManualUsuario">
        <h2>Te dejamos nuestro manual de usuario y nuestro documento técnico</h2>     
    </div>
    <div class="divBotonGif">
        <div class="linkBtn">
            <span>↓</span>
            <a href="https://drive.google.com/file/d/1SgJsUdadSsNAhNnMuJDaTUFyfPEmszYL/view?usp=sharing" target="_blank">
                <button class="botonGif">
                    <h4>Manual de Usuario</h4>
                </button>
            </a>
        </div>
        <div class="linkBtn">
            <span>↓</span>
            <a href="https://drive.google.com/file/d/100r5iFYlbLyv6eQ-qIO_s7iJiNCJaPBj/view?usp=sharing" target="_blank">
                <button class="botonGif">
                    <h4>Documento técnico</h4>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}