{% extends 'base.html' %}

{% block titulo %}Sobre el equipo{% endblock %}

{% block contenido %}
<div class="contenedor">
    <div class="about">
        <div class="title">
            <h2>Acerca de nosotros</h2>
        </div>
        <div class="picsbox" style="background-image: url(../static/imgs/Luis.jpg);">
            <h3 class="names"><i>Luis Alejandro Mendoza Franco</i></h3>
            <br><br>
            <p class="para">
                Estudiante de la carrera de Ingeniería en Sistemas Computacionales de la Escuela
                Superior de Cómputo perteneciente al Instituto Politécnico Nacional.
            </p>
            <div class="contact">
                <span class="icon2">
                    <a href="mailto:lmendozaf1600@alumno.ipn.mx"><ion-icon name="mail-outline"></ion-icon></span></a>
                </span>
            </div>
        </div>
        <div class="picsbox" style="background-image: url(../static/imgs/Checo.jpg);">
            <h3 class="names"><i>Sergio Omar Martínez Suárez</i></h3>
            <br><br>
            <p class="para">
                Estudiante de la carrera de Ingeniería en Sistemas Computacionales de la Escuela
                Superior de Cómputo perteneciente al Instituto Politécnico Nacional.
            </p>
            <div class="contact">
                <span class="icon2">
                    <a href="mailto:smartinezs1602@alumno.ipn.mx"><ion-icon name="mail-outline"></ion-icon></span></a>
                </span>
            </div>
        </div>
        <div class="picsbox" style="background-image: url(../static/imgs/seb.png);">
            <h3 class="names"><i>Sebastián Díaz Montoya</i></h3>
            <br><br>
            <p class="para">
                Estudiante de la carrera de Ingeniería en Sistemas Computacionales de la Escuela
                Superior de Cómputo perteneciente al Instituto Politécnico Nacional.
            </p>
            <div class="contact">
                <span class="icon2">
                    <a href="mailto:sdiazm1600@alumno.ipn.mx"><ion-icon name="mail-outline"></ion-icon></span></a>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}