.divGrid{
    display: grid;
    place-items: center;

    max-width: 100vw;
    /* Tamaño fijo del contenedor */
    height: 55vh;
    /* Tamaño fijo del contenedor */
    overflow: auto;
    /* Muestra las barras de desplazamiento cuando sea necesario */
}

.divGraficas {
    display: grid;
    place-items: center;
    max-width: 100vw;
    height: 50vh;
    margin-top: 15px;
}

canvas {
    border: 1px solid white;
    display: block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #414f58; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* 
    Pausa: <a href="https://www.flaticon.es/iconos-gratis/pausa" title="pausa iconos">Pausa iconos creados por Slidicon - Flaticon</a>
    Play: <a href="https://www.flaticon.es/iconos-gratis/video" title="vídeo iconos">Vídeo iconos creados por Apikke - Flaticon</a>
    Cerrar: <a href="https://www.flaticon.es/iconos-gratis/cerca" title="cerca iconos">Cerca iconos creados por Pixel perfect - Flaticon</a>
    Subir: <a href="https://www.flaticon.es/iconos-gratis/ui" title="ui iconos">Ui iconos creados por rukanicon - Flaticon</a>
*/