* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial','sans-serif';
}

body {
    background-color: black;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: black;
    height: 75px;
}