* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial','sans-serif';
}

body {
    background-color: black;
}
.inicioContenedor {
    margin: 5px;
    display: grid;
    gap: 10px;
}
#formConfiguracion {
    display: grid;
    grid-template-columns: 50px repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
}
#formReglas {
    display: grid;
    grid-template-columns: minmax(100px, 4fr) minmax(50px, 2fr) minmax(50px, 1fr);
    gap: 10px;
}
#botonPausa {
    background-color: white;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

#imgPausa {
    width: 35px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    /* Imagen png sin fondo blanca */
    /* Centrar imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Centrar imagen */
}

#imgPausa:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: white;
}

.forms {
    background-color: white;
}
.form-container {
    display: none;
    position: absolute;
    top: 45.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    justify-self: center;
    transition: all .5s;
    z-index: 1;
}

.close {
    position: absolute;
    top: 20px;
    right: -30px;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-top-right-radius: 20px;
    cursor: pointer;
    transition: all .3s;
}

.close:hover {
    background-color: black;
    color: white;
}

.formConfiguracion, .formReglas {
    margin-top: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
    float: left;
    background:transparent;
}
.rules{
    text-align: center;
    margin-bottom: 5px;
}

.inputForm {
    display: flex;
    align-items: flex-end;
}
.inputForm label{
    margin-right: 5px;
    font-weight: bold;
    color: white;
}
.inputForm input {
    width: 100%;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding-left: 3px;
}

.inputForm input::-webkit-outer-spin-button,
.inputForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputForm input[type=number] {
    -moz-appearance: textfield;
}
.inputForm input[type=number]:focus {
    background-color: white;
    color: black;
    outline: none;
}

.inputForm input[type=text]:focus {
    background-color: white;
    color: black;
    outline: none;
}

.inputForm input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab;
    height: 6px;
    border-radius: 3px;
    background: white;
    outline: none;
    direction: rtl;
}

.inputForm input[type=range]:active {
    cursor: grabbing;
}

.botonCarga {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding: 3px;
}
.botonCarga:hover {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}


.invisible {
    display: none;
}

.visible {
    display: block;
}