* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial','sans-serif';
}

body {
    background-color: #000000;
}

.div-config {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.container {
    background-color: black;
    display: grid;
    place-items: center;
    height: 50vh; /*Adjust the height to center within the parent container */
}
.forms {
    background-color: white;
}
.form-container {
    display: none;
    position: absolute;
    top: 45.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    justify-self: center;
    transition: all .5s;
    z-index: 1;
}

.close {
    position: absolute;
    top: 20px;
    right: -30px;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #000000;
    border-top-right-radius: 20px;
    cursor: pointer;
    transition: all .3s;
}

.close:hover {
    background-color: black;
    color: white;
}

.formConfiguracion, .formReglas {
    margin-top: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
    float: left;
    background:transparent;
}
.tabColorEstados {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.rules{
    text-align: center;
    margin-bottom: 5px;
}

.inputForm {
    margin-bottom: 10px;
}
.inputForm label{
    display: block;
    font-weight: bold;
}
.inputForm input {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.inputFormCondition {
    margin-bottom: 10px;
}
.inputFormCondition label{
    display: block;
    font-weight: bold;
}
.inputFormCondition input{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botonFrom {
    width: fit-content;
    padding: 0px 10px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
}
.botonFrom:hover {
    background: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}