.login {
    display: grid;
    align-items: center;
    width: 100%;
    text-align:center;
}
.wrapper {
    position: static;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: transform .5s ease, heigh .2s ease;
    margin: 0 auto;
    margin-top: 10px;
}

.wrapper.active {
    height: 560px;
}

.wrapper .formBox {
    width: 100%;
    padding: 40px;
}

.wrapper .formBox.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .formBox.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .formBox.signup{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .formBox.signup {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(0, 0, 0);
    font-size: 2em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.formBox h2 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(0, 0, 0);
    /*borde de bajo de los inputs*/
    margin: 30px 0;
}

.inputBox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -5px;
}


.inputBox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.inputBox .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 57px;
}

.rememberForgot {
    font-size: .9em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rememberForgot label input {
    accent-color: rgb(0, 0, 0);
    margin-right: 3px;
}

.rememberForgot a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.rememberForgot a:hover{
    text-decoration: underline;
}

.divBtn{
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton {
    width: 180px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.boton:hover {
    background: url(../imgs/boton.gif);
    color: black;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.loginRegister {
    font-size: .9em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin: 10px 0 10px;
}

.loginRegister p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.loginRegister p a:hover {
    text-decoration: underline;
}
