.logo {
    font-size: 2em;
    color: #fff;
}

.nav-ul {
    float: right;
}
.nav-li {
    display: inline-block;
    line-height: 80px;
    margin: 0;
}

.navigation .link{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

.navigation .link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation .link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.toggle {
    color: #ffffff;
    font-size: 25px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    margin-left: 5px;
}
.btnToggle {
    display: none;
    position: absolute;
    right: 50px;
    width: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
}
.btnToggle:hover {
    .toggle{
        color: black;
    }
    background: white;
}

@media screen and (max-width: 952px){
    .nav-ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top:75px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }
    .nav-ul .active {
        left: 100%;
    }
    .nav-ul .nav-li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navigation .link{
        position: relative;
        font-size: 1.1em;
        color: #000000;
        font-weight: 500;
        margin-left: 40px;
        text-decoration: none;
    }
    .navigation .link::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background: #000000;
        border-radius: 5px;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .5s;
    }
    
    .navigation .link:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
    
    .navigation .btnLogin-popup {
        width: 130px;
        height: 50px;
        background: transparent;
        border: 2px solid #000000;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #000000;
        margin-left: 40px;
    }
    
    .navigation .btnLogin-popup:hover {
        background: #000000;
        color: #ffffff;
    }
    .btnToggle {
        display: block;
    }

}


footer{
    opacity: 0.25;
    display: flex;
    /* bottom: -50%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 1%;
    /* padding-top: 1%;S */
}

footer div{
    width: 75%;
}

footer div p{
    font-size: 100%;
    color: #ffffff;
    padding: 1% 5%;
}
