a:link {
    color: white
}

a:visited {
    color: white;
}

a:hover {
    color: #3498DB;
}

.contenedor {
    height: auto;
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about {
    position: relative;
    width: 90%;
    height: 450px;
    margin-top: 5%;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    /* bottom: -70px; */
}

.title {
    position: absolute;
    top: 15px;
    height: auto;
    width: auto;
    background: none;
    color: white;
    font-size: 25px;
    text-align: center;
}

.picsbox {
    height: 320px;
    width: 320px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: black;
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    box-shadow: 0px 0px 5px 1px black;
    position: relative;
    cursor: pointer;
    text-align: justify;
    bottom: -30px;
}

.picsbox:hover {
    height: 350px;
    width: 350px;
    background-size: 150%;
    background-position: -205% 50%;
    box-shadow: 0px 0px 10px 10px #900C3F;
}

.picsbox:hover .names {
    opacity: 1;
}

.picsbox:hover .para {
    opacity: 1;
}

.picsbox:hover .icon2 {
    opacity: 1;
}

.names {
    text-align: center;
    color: white;
    padding-top: 15px;
    opacity: 0;
    font-size: 25px;
    transition: 1s;
}

.para {
    color: white;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    font-size: 15px;
    transition: 1s;
}

.para2 {
    text-align: justify;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    transition: 1s;
}

.contact {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    padding: 5px 0px;
}

.icon2 {
    color: white;
    margin: 0px 5px;
    font-size: 25px;
    transition: 1s;
    opacity: 0;
}

.sim {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    bottom: -70px;
}

.sim .tab {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.sim .tab-th {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
}

.sim .tab-td {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
}


.infosim {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 17px;
}

.contsim {
    position: relative;
    width: 70%;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    bottom: -70px;
    overflow: hidden;
}

.whitelink {
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.whitelink:link {
    color: white;
}

.whitelink:visited {
    color: white;
}

.whitelink:hover {
    color: white;
}

.whitelink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.whitelink:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.blacklink {
    position: relative;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.blacklink:link {
    color: black;
}

.blacklink:visited {
    color: black;
}

.blacklink:hover {
    color: black;
}

.blacklink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.blacklink:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.linkBtn {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-left: 1%;
    margin-right: 1%;
}

.linkBtn span {
    display: block;
    color: #ffffff;
    font-size: 4vh;
    width: 20%;
    margin: auto;
    padding-bottom: 5%;
    text-align: center;
}
